#caixa {
	width: 300px;
	height: 300px;
	/*background: url("../imagens/camera.png");*/
	/*background: linear-gradient(to top, blue, white);*/
	background: radial-gradient(pink, blue);
}

#caixa h1 {
	background: rgba(255,255,255, 0.5);
}